.pc-nav {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    gap: 15px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    li {
        text-transform: uppercase;
        font-weight: bold;
        padding: 1em 0;
    }
}