@import url('./header/hamburgerNavbar.css');
@import url('./header/header.css');
@import url('./header/pcNavbar.css');

/* _variables.scss */

$base-font-size: 16px;

/* Header.scss */

h1 {
  font-size: $base-font-size * 5;
  margin: 0;
}

h2 {
  font-size: $base-font-size * 1.8;
}

h3 {
  font-size: $base-font-size * 1.5;
}

h4 {
  font-size: $base-font-size * 1.2;
}

p, li {
  font-size: $base-font-size;
}

/* Add additional element styles as needed */

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.hero-section {
  z-index: 0;
}

.page-component {
  min-height: 100vh;
  width: 100%;
  /* Add any additional styling for your page component */
}

.first {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #1e90ff, #87ceeb);
}



.hero {
  position: relative;
  /* Your other styles */

}


.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* You may need to adjust the z-index if the buttons are behind other elements */
  z-index: 1;
  height: 50px;
  width: 50px;
  background: rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.5);
  border: none;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, width 0.3s ease-in-out;

  &:hover {
    background: rgba(0,0,0,0.3);
    color: rgba(255,255,255,0.8);
    width: 75px;
  }

  ion-icon {
    font-size: 2rem;
  }
  /* Other styles as needed, such as background-color, border, etc. */
}

.prev-arrow {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.next-arrow {
  right: 0; /* Adjust as needed */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.disabled {
  display: none; /* Hide the arrow when disabled */
}