@import url('./header/hamburgerNavbar.css');
@import url('./header/header.css');
@import url('./header/pcNavbar.css');

/* _variables.scss */

$base-font-size: 16px;

/* Header.scss */

h1 {
  font-size: $base-font-size * 2;
}

h2 {
  font-size: $base-font-size * 1.8;
}

h3 {
  font-size: $base-font-size * 1.5;
}

h4 {
  font-size: $base-font-size * 1.2;
}

p, li {
  font-size: $base-font-size;
}

/* Add additional element styles as needed */

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
